.x-ux-form-rating-field .rating-icon {
    background-repeat: no-repeat;
    background-position: 2px;
    padding: 2px 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
}

.x-ux-form-rating-field .rating-star {
    background-image: url(starOff.png);
}

.x-ux-form-rating-field .rating-hover,
.x-ux-form-rating-field .rating-selected {
    background-image: url(starOn.png);
}

.x-ux-form-rating-field .rating-reset {
    background-image: url(starReset.png);
}

.x-ux-form-rating-field .clear-mode {
    clear: left;
}
